* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 50px;
    width: 250px;
    text-align: center;
    background-color: #2c2c2c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonId {
    background-color: blue;
    padding: 20px 100px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    background-color: #3c3c3c99;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    border-radius: 5px;
}