.azul {
  background-color: #1963D1;
}

.vermelho {
    background-color: #D2001A;
}

.cronometro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cronometroBox {
  display: flex;
  gap: 100px;
}

button {
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}